// Override Bs4 variables and custom mixins

$theme-colors: (
        'primary': blue,
        'danger': blue
);

// Link to BS4
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";

// Custom code/partials

.bg-info {
  background-color: green !important;
}

@media (max-width: 500px) {
  .navSmallText {
    display: none !important;
  }
}

@media (min-width: 500px) {
  .navText {
    display: none !important;
  }
}