// Override Bs4 variables and custom mixins

$theme-colors: (
        'primary': blue,
        'danger': blue
);

// Link to BS4
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";

// Custom code/partials

@media (min-width: 500px) {
  .navSmallText {
    display: none !important;
  }
}

  @media (max-width: 500px) {
  .navText {
    display: none !important;
  }
}

.container {
  display: inline-block !important;
  cursor: pointer !important;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}